html {
  background-image: url("https://images.hdqwalls.com/download/berserk-aj-2048x1152.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title {
  color: beige;
  font-weight: 800;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container > input {
  border-radius: 15px;
  height: 25px;
  width: 225px;
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.char-name {
  color: beige;
  cursor: pointer;
}
